<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltgsas.mybatis.mapper.CasebaseMapper">

    <resultMap id="casebaseExtendOneMap" type="Casebase">
        <id column="id" property="ID" jdbcType="INTEGER"/>
        <result column="cbid" property="CBID" jdbcType="INTEGER"/>
        <result column="cname" property="cName" jdbcType="VARCHAR"/>
        <result column="alias_name" property="aliasName" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="SMALLINT"/>
        <result column="email" property="eMail" jdbcType="VARCHAR"/>
        <result column="identity_card" property="IDNumber" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="member" property="member" jdbcType="BOOLEAN"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="join_date" property="joinDate" jdbcType="DATE"/>
        <association column="cbid" property="casescore" select="uniteScore"/>
    </resultMap>
    <select id="uniteScore" resultType="Casescore">
        select cbid                                                         as CBID,
               professionalcode                                             as ProfessionCode,
               mentor                                                       as Mentor,
               ascore                                                       as aScore,
               bscore                                                       as bScore,
               cscore                                                       as cScore,
               dscore                                                       as dScore,
               escore                                                       as eScore,
               fscore                                                       as fScore,
               gscore                                                       as gScore,
               hscore                                                       as hScore,
               ascore + bscore + cscore + dscore + escore + gscore + hscore as totalScore
        from casescore
        where cbid = #{cbid}
    </select>

    <resultMap id="casebaseMap" type="com.ltgsas.mybatis.pojo.Casebase">
        <id column="id" property="ID" jdbcType="INTEGER"/>
        <result column="cbid" property="CBID" jdbcType="INTEGER"/>
        <result column="cname" property="cName" jdbcType="VARCHAR"/>
        <result column="alias_name" property="aliasName" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="CHAR"/>
        <result column="age" property="age" jdbcType="SMALLINT"/>
        <result column="email" property="eMail" jdbcType="VARCHAR"/>
        <result column="identity_card" property="IDNumber" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="CHAR"/>
        <result column="member" property="member" jdbcType="BOOLEAN"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="join_date" property="joinDate" jdbcType="DATE"/>
    </resultMap>

    <!--    List<Casebase> getAllFromCasebase();-->
    <select id="getAllFromCasebase" resultMap="casebaseExtendOneMap">
        select *
        from casebase
    </select>

    <!--    Casebase getByIDFromCasebase(int id);-->
    <select id="getByColumnOnID" resultMap="casebaseMap">
        select *
        from casebase
        where id = #{id}
    </select>

    <!--    List<Casebase> ListMoreRecordsFromCasebase();-->
    <select id="ListMoreRecordsFromCasebase" resultType="Casebase">
        select *
        from casebase
        where id in (${scope})
    </select>

    <!--    List<Casebase> ListDynamicTable(String tableName);-->
    <select id="ListDynamicTable" resultType="Casebase">
        select *
        from ${tableName}
                 limit 100,5
    </select>

    <!--    List<Casebase> listByColumnInCname(String name);-->
    <select id="listByColumnInCname" resultMap="casebaseExtendOneMap">
        select *
        from casebase
        where cname like concat('%', #{name}, '%');
        <!-- select * from casebase where cname like '%${name}%' -->
        <!-- select * from casebase where cname like "%"#{name}"%" -->
    </select>

    <!--    List<Casebase> listCasebaseByColumnAndValue(@Param("columnName") String columnName, @Param("columnValue") String columnValue);-->
    <select id="listByColumnAndValue" resultMap="casebaseExtendOneMap">
        select *
        from casebase
        where ${columnName} like concat('%', #{columnValue}, '%')
    </select>

    <!--    List<Casebase> listCasebaseByLimit(Map<String, Integer> map);-->
    <select id="listByLimitUseMap" parameterType="map" resultMap="casebaseExtendOneMap">
        select *
        from casebase
                 limit #{startIndex},#{pageSize}
    </select>

    <!-- 分页查询2 : 不推荐使用 -->
    <!--    List<Casebase> listCasebaseByRowBounds();-->
    <select id="listUseRowBounds" resultMap="casebaseExtendOneMap">
        select *
        from casebase
    </select>

    <!--    Casebase listByColumnOnGrade(int id);-->
    <select id="listByColumnOnGrade" resultMap="casebaseExtendOneMap">
        select *
        from casebase
        where grade = #{gradeNumber}
    </select>

    <!--    Map<String,Object> getAllToMap();-->
    <select id="getAllToMapFromCasebase" resultType="map">
        select * from casebase limit 800,5
    </select>

</mapper>